/* Set Up the Body */
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #587B7F;
}

/* Container for top dispaly */
.container {
    position: relative;
    height: 250px;
    width: 100%;
}

/* Create the container for the main screen of the game */
.screen {
    position: relative;
    height: 330px;
    width: 100%;
    overflow: hidden;
}

/* Racetrack */
.lane {
    position: absolute;
    background: url('./Appendex/Images/racetrack.jpg') center left repeat-x;
    height: 330px;
    width: 8100px;
    border-right: dashed 16.5px white;
    left: 0;
}

/* Place two cars on the track */
#car1 {
    position: absolute;
    font-size: 125px;
    color: #2BA84A;
    top: 5px;
    left: 500px;
}

#car2 {
    position: absolute;
    font-size: 125px;
    color: #FCFFFC;
    top: 205px;
    left: 500px;
}

/* Boost Flame */
#flame {
    position: absolute;
    font-size: 80px;
    color: orange;
    left: 420px;
}

/* Start Game Button */
.start {
    position: absolute;
    width: 300px;
    height: 150px;
    background-color: #2D3A3A;
    font-family: 'Bangers', cursive;
    font-size: 60px;
    color: #248232;
    text-shadow: 2px 2px #FCFFFC;
    opacity: 90%;
    border-radius: 25%;
    top: 25%;
    left: 40%;
    z-index: 2;
}

/* Title Display */
.title {
    position: absolute;
    display: flex;
    width: 320px;
    height: 150px;
    justify-content: center;
    align-items: center;
    background-color: #D3D0CB;
    font-family: 'Bangers', cursive;
    font-size: 60px;
    color: #E2C044;
    text-shadow: 2px 2px #393E41;
    left: 40%;
    box-shadow: 2px 2px 2px #1E2019;
    border-radius: 5%;
}

/* MPH Display */
.gear {
    position: absolute;
    display: flex;
    width: 213px;
    height: 106px;
    justify-content: center;
    align-items: center;
    background-color: #D3D0CB;
    font-family: 'Bangers', cursive;
    font-size: 60px;
    color: #E2C044;
    text-shadow: 2px 2px #393E41;
    left: 5%;
    box-shadow: 2px 2px 2px #1E2019;
    border-radius: 5%;
}

/* Prompt Display */
.prompt {
    position: absolute;
    display: flex;
    width: 213px;
    height: 106px;
    justify-content: center;
    align-items: center;
    background-color: #D3D0CB;
    font-family: 'Bangers', cursive;
    font-size: 60px;
    color: #E2C044;
    text-shadow: 2px 2px #393E41;
    left: 80%;
    box-shadow: 2px 2px 2px #1E2019;
    border-radius: 5%;
}

/* Result Display */
.result {
    position: absolute;
    display: flex;
    width: 213px;
    height: 106px;
    justify-content: center;
    align-items: center;
    background-color: #D3D0CB;
    font-family: 'Bangers', cursive;
    font-size: 60px;
    color: #E2C044;
    text-shadow: 2px 2px #393E41;
    left: 80%;
    box-shadow: 2px 2px 2px #1E2019;
    border-radius: 5%;
}

.rules {
    position: absolute;
    width: 600px;
    height: 320px;
    background-color: #393E41;
    border: solid #D3D0CB 2px;
    color: #D3D0CB;
    text-shadow: #E2C044;
    text-align: center;
    opacity: 90%;
    font-family: 'Bangers', cursive;
    font-size: 25px;
    left: 30%;
    z-index: 2;
}

.instruct {
    width: 75px;
    height: 40px;
    background: #E2C044;
    color: red;
    font-family: 'Bangers', cursive;
    font-size: 20px;
}

.close_rules {
    width: 75px;
    height: 40px;
    background: #E2C044;
    color: red;
    font-family: 'Bangers', cursive;
    font-size: 20px;
}