/* Set Up the Body */
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #587B7F;
}

/* Container for top dispaly */
.container {
    position: relative;
    height: 250px;
    width: 100%;
}

/* Create the container for the main screen of the game */
.screen {
    border: solid red;
    position: relative;
    height: 330px;
    width: 100%;
    overflow: hidden;
}

/* Racetrack */
.lane {
    position: absolute;
    background: url('./Appendex/Images/racetrack.jpg') center left repeat-x;
    height: 330px;
    width: 8100px;
    border-right: dashed 16.5px white;
    left: 0;
}

/* Place two cars on the track */
.box1 {
    position: absolute;
    background-color: blue;
    width: 80px;
    height: 80px;
    top: 25px;
    left: 500px;
}

.box2 {
    position: absolute;
    background-color: red;
    width: 80px;
    height: 80px;
    top: 225px;
    left: 500px;
}

/* Start Game Button */
.start {
    position: absolute;
    width: 300px;
    height: 150px;
    background-color: #2D3A3A;
    font-family: 'Bangers', cursive;
    font-size: 60px;
    color: #248232;
    text-shadow: 2px 2px #FCFFFC;
    opacity: 90%;
    border-radius: 25%;
    top: 25%;
    left: 40%;
    z-index: 2;
}